<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div class="h-100">
        <div class="user-wid text-center py-4">
            <div class="user-img">
                <img src="public/assets/images/users/avatar-2.jpg" alt="" class="avatar-md mx-auto rounded-circle">
            </div>
            <div class="mt-3">
                <a href="#" class="text-dark fw-medium font-size-16">Patrick Becker</a>
                <p class="text-body mt-1 mb-0 font-size-13">UI/UX Designer</p>
            </div>
        </div>
        <!--- Sidemenu -->
        <div id="sidebar-menu" class="collapsed">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Accounts & Payments</li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-bank"></i><span class="badge rounded-pill bg-info float-end">2</span>
                        <span>Accounts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/analytics">Analytics</a></li>
                        <li><a href="/view-credentials">All Accounts</a></li>
                        <li><a href="/view-balance">Account Balances</a></li>
                        <li><a href="/history">Credit History</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-cash"></i><span class="badge rounded-pill bg-info float-end">2</span>
                        <span>Payments</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/user-list">All Users</a></li>
                        <li><a href="/custom-query">All Transactions</a></li>
                        <li><a href="payment-link">Payment Links</a></li>
                        <li><a href="/manage-beneficiary">Manage Beneficiery</a></li>
                        <li><a href="/payouts">Payouts</a></li>
                        <li><a href="/collection">Collection Requests</a></li>
                        <li><a href="/credit">Credit History</a></li>
                        <li><a href="/vba">Create Virtual Bank Account</a></li>
                        <li><a href="update-user">Update User</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-cash-multiple"></i><span class="badge rounded-pill bg-info float-end">2</span>
                        <span>Recurring</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/emandate">e-Mandate</a></li>
                        
                    </ul>
                </li>
               
                <li class="menu-title">KYC & Onboarding</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-account"></i>
                        <span>KYC</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/analytics">Analytics</a></li>
                        <li><a href="/validate">Validate</a></li>
                        <li><a href="#">Aadhar XML</a></li>
                        <li><a href="#">CKYC</a></li>
                        <li><a href="#">Face Match</a></li>
                        <li><a href="#">Text Match</a></li>
                        <li><a href="#">ID Classification</a></li>
                        <li><a href="#">Image Quelity</a></li>
                        <li><a href="/photocopy">Photocopy Check</a></li>
                        <li><a href="/video-live">Video Liveness</a></li>
                        <li><a href="/aadhar">AAdhar Masking</a></li>
                        <li><a href="/digi">Digilocker</a></li>
                        <li><a href="/history">Credit History</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-database"></i>
                        <span class="badge rounded-pill bg-danger float-end">6</span>
                        <span>Financial Services</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/analytics">Analytics</a></li>
                        <li><a href="/credit-report">Credit Report</a></li>
                        <li><a href="data-pull">Data Pull</a></li>
                        <li><a href="/history">Credit History</a></li>
                      
                    </ul>
                </li>
               
                <li class="menu-title">Cards</li>
                <li>
                    <a href="/credits">
                        <i class="mdi mdi-chart-line-variant"></i>
                        <span>Analytics</span>
                    </a>
                </li>
              
                <li>
                    <a href="/wallets">
                        <i class="mdi mdi-wallet"></i>
                        <span>Issued Wallets</span>
                    </a>
                </li>
                <li>
                    <a href="/custom-query">
                        <i class="mdi mdi-bank-transfer"></i>
                        <span>Transactions</span>
                    </a>
                </li>
                <li>
                    <a href="/credit-cards">
                        <i class="mdi mdi-history"></i>
                        <span>Credit History</span>
                    </a>
                </li>
                <li class="menu-title">Configurations</li>
                <li>
                    <a href="/callback">
                        <i class="mdi mdi-swap-vertical-variant"></i>
                        <span>Callbacks</span>
                    </a>
                </li>
              
                <li class="menu-title">Reports</li>
                <li>
                    <a href="/report">
                        <i class="mdi mdi-file-chart"></i>
                        <span>CAS Reports</span>
                    </a>
                </li>
              
                
               
            </ul>
            
               
            </ul>

            
             
            
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
